* {
    box-sizing: border-box;
}

.login {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

.mainlogin {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.btn-submit {
    text-align: center !important;
}

.btn-primary {
    background-color: #009dff !important;
    border-color: #009dff !important;
}

.submit {
    width: 200px;
    border-radius: 15px !important;
}

.img-main {
    /* background-image: url(https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png); */
    background-image: url(https://www.itdoe.org/agora/src/lib/img/logo.svg);
    background-repeat: no-repeat;
    margin-top: 8%;
}

.container {
    margin-top: 12.5%;
}